* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

body {
    margin: 0 !important;
    background-color: #f5f5f5;
}

.linkRoute {
    text-decoration: none;
    color: #666;
}
.linkRoute:hover {
    color: #e74c3c;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #e74c3c;
}

::selection {
    color: white;
    background: #e74c3c;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 680px) {
    .container {
        width: 650px;
    }
}

/* Medium */
@media (min-width: 960px) {
    .container {
        width: 930px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}