/* main background */
.bg {
    background-image: url(../../images/home-bg.jpg);
    background-size: cover;
}

/* button hover */
.buttonChangeCurPizza {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 400ms;
    font-size: 18px;
    font-weight: 100;
}
.buttonChangeCurPizza:hover {
    color: white;
    background-color: #e74c3c;
}

/* animate pizzt when reder */
.animatePositionRightToLeft {
    animation-name: changePositionRightToLeft;
    animation-duration: 1.5s;
}
.animatePositionLeftToRight {
    animation-name: changePositionLeftToRight;
    animation-duration: 1.5s;
}
.animatePositionRightToLeftRep {
    animation-name: changePositionRightToLeftRep;
    animation-duration: 1.5s;
}
.animatePositionLeftToRightRep {
    animation-name: changePositionLeftToRightRep;
    animation-duration: 1.5s;
}


@keyframes changePositionRightToLeft {
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes changePositionLeftToRight{
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes changePositionRightToLeftRep {
    from{
        transform: translateX(51px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes changePositionLeftToRightRep{
    from{
        transform: translateX(-51px);
    }
    to{
        transform: translateX(0);
    }
}



